<footer id="footer">

 
     <audio controls>
  <source src="/images/music.mp3" type="audio/mpeg">
    <source src="/images/music.mp3" type="audio/ogg">
  </audio>
    <a href="https://www.instagram.com" ><img src="/images/ig.jpeg" alt="instagram" class="small-bottom-img">
    <a href="https://www.youtube.com" ><img src="/images/youtube.png" alt="youtube" class="small-bottom-img">
    <a href="https://www.linkedin.com" ><img src="/images/linkedin.png" alt="linkedin" class="small-bottom-img">
    <a href="https://www.twitter.com" ><img src="/images/twitter.png" alt="twitter" class="small-bottom-img">

    <nav class="botnav">
        <a href="/terms">Terms</a>
        <a href="/privacy">Privacy Policy</a>

        <p class="copy">Copyright © 2023 JobEasy All Rights Reserved</p>
    </nav>
    </footer>