<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JobEasy</title>
  <link rel="icon" type="image/png" href="/images/job.png"/>
  <link rel="stylesheet" href="/css/home.css">
</head>
  <body>
  
    {% include "header.njk" %}
    {% include "nav.njk" %}  
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
</html>
