 <nav class="topnav">
       <a href="/contacts">Contacts</a>
       <a href="/review">Review</a>
       <a href="/team">Team</a>
       <a href="/services">Services</a>
       <a href="/home">Home</a>
   </nav>