<aside id="sidebar">
            <p class="case">
             <em><b>Fantastic Recruiters</b><br>
                I had the pleasure of dealing with Tracey who was on the ball and involved in all stages of my recruitment process. Tracey provided interview prep sessions as well as great insight into the employer. Recruiters.ie have a fantastic team and I would recommend them to anyone looking for new employment! <br>---- Nancy </em>
                <img src="/images/google.png" alt="google" class="small-right-img">
            </p>

            <p class="case">
             <em><b>Amazing job from the very beginning </b><br>
                I can't say highly enough how easy they made the process for me & can't recommend them highly enough either.Interview tips were brilliant they made time to do pre-interview prep with me which gave me a huge confidence boost going forward. Highly recommended & the proof is in the pudding with this company,results delivered.<br>---- Dave </em>
                <img src="/images/aws.png" alt="amazon" class="small-right-img">

            </p>

            <p class="case">
             <em><b>Best recruiters</b><br>
                Jordan got to work right away and found me work, in a sector I find interesting which I would of never considered before. I would 100% recommend JobEasy to everybody!<br>---- Nate </em>
                <img src="/images/github.jpeg" alt="github" class="small-right-img">

            </p>
        </aside>