---
layout: layout.njk
eleventyNavigation:
  key: contact
---

<section id="third">

    <h3>General enquiries:</h3>
    <p>Tel: +353 (1) 632 5000<br>
    <div class="mail"><a href="mailto:info@jobeasy.ie">info@jobeasy.ie</a></div></p>   

    <hr>         

    <h3>Consultation:</h3>
    <div class="meet"><a href="/team">Meet Our Team</a>
    </div>

    <hr>  

    <h3>Invoices:</h3>
    <p>Tel: +353 (1) 632 5001<br>
    <div class="mail"><a href="mailto:invoices@jobeasy.ie">invoices@jobeasy.ie</a></div></p>  

    <hr>  

    <h3>Office Address:</h3>
    <div class="add"><a href="https://goo.gl/maps/7PRPjdoGQ9TFFtUS7">100 Quay,Dublin, Ireland</a></div></p>

    <hr>  

    <h3>Regions:</h3>
    <p>NAM - NewYork | Toronto ; EMEA - Dublin | London ; APAC - Taiwan | Hong Kong | Singapore | India | Indonesia</p>
    <img src="/images/locations.png" alt="locations">

</section>
