---
layout: layout.njk
eleventyNavigation:
  key: job
---

<main class="flex-containers">

    <div>
    <h5>Software QA Engineer</h5>
    <p> Dublin, County Dublin, Ireland (Work from Home)</p>
    <p>hybrid, 12month contract position with a possibility of extension</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>

    <div>
    <h5>SOFTWARE ENGINEER</h5>
    <p>Hybrid/ Remote  </p>
    <p>Experience of SQL, Oracle, C#, Business Logic</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>

    <div>
    <h5>Senior Java Developer </h5>
    <p>Citywest, Dublin, County Dublin, Ireland (Work From Home)</p>
    <p>Bachelor's degree in Computer Science or Engineering</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>

    <div>
    <h5>Distributed Java Engineer</h5>
    <p> North City, Dublin 1, County Dublin, Ireland (Work from Home)</p>
    <p>Graduate degree (or equivalent) in Computer Science, Engineering or a related subject</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>
    <div>
    <h5>IT Consultant</h5>
    <p>Dublin, County Dublin, Ireland</p>
    <p>An Honours degree, third level qualification or significant relevant experience, in science, technology, engineering or another equivalent area</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>
    <div>
    <h5>Business Analyst </h5>
    <p>Dublin, County Dublin, Ireland</p>
    <p> Professional qualification in Business Analysis is preferable.Experience in documenting detailed, high quality business requirements</p>
    <button type="button" onclick="alert('Interested in this role? Email us to apply!')">Apply</button>

    </div>
</main>