---
layout: layout.njk
eleventyNavigation:
  key: Review
---
<main class="flex-containers">

<div>  

    <img src="/images/man.jpg" alt="man"class="review-img">

    <p class="reviews">I lost my job due to COVID-19, but honestly, I already wanted a change. I was losing precious hours commuting and that took me away from my toddler and husband. Now I can focus on being productive and, when work is done, on being a wife and mom. I have a new outlook on life. I can actually have it all: a family and a career with work-life balance. I never intend to return to a job that isn't flexible. I'm really grateful and excited I made the choice to subscribe to JobEasy!</p>

    <blockquote class="block1">
    Hired at eXp Realty as Executive Assistant
    Courtney T, Douglasville, GA 
    Work Flexibility: Remote, Full-Time
    </blockquote>

</div>

<div>
    <img src="/images/lady.jpg" alt="lady" class="review-img">
    <p class="reviews">
    JobEasy is easy to navigate and has a lot of great tools. I'm so glad I took a chance and bought a membership. I have the option to work full-time when my availability allows for it. It's very important for my mental health. I can easily take time off and rearrange my schedule to accommodate my son's appointments. It's a perfect fit! Thanks to JobEasy, hightly recommended!
    </p>
    <blockquote class="block1">
    Hired at Kaplan as Online Moderator
    Michele H, Allegan, MI
    Work Flexibility: Remote, Part-Time
    </blockquote>

</div>

<div>
    <img src="/images/neu.jpg"  alt=" man "class="review-img">
    <p class="reviews">
    I found the perfect job and I'm so grateful I had EasyJobs to help me. For the price of a cheap lunch, you could potentially change your life. JobEasy makes it possible to avoid work-from-home scams and find companies that fit your needs. I set up an email alert for my search criteria so I'd be alerted as soon as new jobs were added and tailored my resume for each position.
    </p>
    <blockquote class="block1">
    Hired at InVision as Training Specialist  
    Danielle V, Travis Air Force Base, CA  
    Work Flexibility: Remote, Full-Time
    </blockquote>

</main>
