---
layout: layout.njk
eleventyNavigation:
  key: Services
---
<main class="flex-containers">
<!-- //job search -->
    <div class="seekers">
    <h3>Job Search for Jobseekers</h3>
    <div><p>Give Your Job Search a Boost. Let us Connect You With Your Industry's Top Recruiters</p>
    </div>

    <b>How it works:</b><hr class="seekline">
    <div>
    <p><em><b>Provide your contact information.</b></em>Share your email address and tell us about your industry and location preferences. No confidential information is requested at this point.</p>
    </div>

    <div>
    <hr> 
    <p><em><b>Tell us more about yourself.</b></em>One of our recruitment specialists will contact you to request more information including your resume and ask you a few questions to better understand your preferences and expectations for salary, role, travel etc.</p>
    </div>

    <div>
    <hr>
    <p><em><b>Get connected.</b></em>Recruitment specialist assigned to you will match you with specialty recruiters who already have active job orders and experience in your exact industry, niche and location. S/He ranks them by track record and how likely they are to meet all your requirements. This final list is then shared with you along with expert advice, recommendations and insights to help you make the best decision.</p>
    </div>

    <div>
    <hr>
    <p><em><b>Start interviewing.</b></em>You review the list and tell us if we need to remove a recruiter from your list. Once you have verified the list and confirmed your interest, we introduce you to all the recruiters on the list and share your contact information and resume. These recruiters will reach out to you directly with open positions and start scheduling interviews.</p>
    </div>

    <div class="find"><a href="/job">&#128073;Find More Jobs</a></div>
    </div>
    <!-- //job match -->
    <div class="seekers">
    <h3>Job Match for Companies</h3>
    <div>
    <p>Skip the guesswork. Let us connect you with your industry's top recruiters</p>
    </div>

    <b>How it works:</b><hr class="seekline">
    <div>
    <p><em><b>Schedule a call.</b></em>Tell us your business name, industry, location and the role you are trying to fill. Give us your availability and we will schedule a brief intro call with one of our recruiting experts.</p>
    </div>

    <div>
    <hr>    
    <p><em><b>Consult with a recruiting expert.</b></em> One of our recruitment specialists will call within one business day to learn more about your business’s particular needs and give you expert advice to answer any questions or concerns you may have.</p>
    </div>

    <div>
    <hr>
    <p><em><b>Get connected & start interviewing.</b></em>Based on your needs, we build a list of specialty recruiters with established talent pools and experience in your specific industry, niche and location. Once you review and give us the green light, these recruiters will compete to find you the best candidate.</p>
    </div>
    <div>
    <hr>
    <p><em><b>Grow your business.</b></em>Finding the right talent [at the right time/promptly] is critical to your business’s stability and growth. We can find top talent faster and smarter so you can avoid any guesswork and focus on growing your revenue.</p>
    </div>
    </div>
    <!-- //cv -->
    <div class="seekers">
    <div>
    <h3>CV and Career Advice</h3>
    <em>Have questions about your job search?</em><hr> 
    <p>JobEasy members have several great options for receiving career advice:Search our Job Search and contact us by phone or email. <br>
    Contact us for more information on how to build an animated CV below!</p>

    <!-- //video --> 
    <iframe width="540" height="315" src="https://www.youtube.com/embed/1Eg1_1IBisA?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</main>
