---
layout: layout.njk
eleventyNavigation:
  key: Team
---

<main class="flex-container">
    <div>  
     <img src="/images/a.png" alt="lady"class="team-img">
        <h5>Sharon</h5>
        <h6>Managing Director</h6>
        <p>email: sharon@jobeasy.ie</p>
        <p> +353 01 600 1234</p>
    </div>

    <div>
    <img src="/images/b.png" alt="gent"class="team-img">
    <h5>Jack</h5>
    <h6>CFO</h6>
    <p>email: jack@jobeasy.ie</p>
    <p> +353 01 601 1234</p>
    </div>      

    <div>
    <img src="/images/c.png" alt="lady"class="team-img">
    <h5>Mary</h5>
    <h6>Consultant</h6>
    <p>email: mary@jobeasy.ie</p>
    <p> +353 01 602 1234</p>
    </div>

    <div>
    <img src="/images/d.png" alt="gent"class="team-img">
    <h5>Steve</h5>
    <h6>Consultant</h6>
    <p>email: steve@jobeasy.ie</p>
    <p> +353 01 603 1234</p>     
    </div>

    <div>
    <img src="/images/e.png" alt="lady"class="team-img">
    <h5>Yuri</h5>
    <h6>Finance</h6>
    <p>email: yuri@jobeasy.ie</p>
    <p> +353 01 604 1234</p>
    </div>

    <div>        
    <img src="/images/f.png" alt="gent"class="team-img">
    <h5>Frank</h5>
    <h6>Sales</h6>
    <p>email: frank@jobeasy.ie</p>
    <p> +353 01 605 1234</p>

    </div>

</main>
